@charset "UTF-8";
/* CSS Document */
/* colors:
purple: #C382DA
green: #AEE9BA
light purple: #F8CBF8
yellow: #EEE0B0
*/
body {
	font-family: 'Pangolin', cursive;
}

h1, h2, h3 {
	text-transform: uppercase;
	color: black;
}
.logo {
	background: #C382DA;
}
.logo img {
	width: 100px;
	
}
nav {
	background: #F8CBF8;
}
.nav-link {
	color: black;
}
.nav-link:hover {
	color: azure;
}
.navbar-brand {
	color:black; 
}
.navbar-toggler-icon {
	background-image: url("../images/15211315791553239378-128.png")
}
.products {
	margin: 20px;
	text-align: center;
}
.content-shop {
	background: #EEE0B0;
}
.footer {
  background: #9AD1CC;
  padding: 10px 0;
}
.footer a {
  color: dimgrey;
  font-size: 20px;
  padding: 10px;
}
.footer a:hover {
  color: white;
}
.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.instagramicon img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}