@charset "UTF-8";
/* CSS Document */
/* colors:
purple: #C382DA
green: #AEE9BA
light purple: #F8CBF8
yellow: #EEE0B0
*/
body {
	font-family: 'Pangolin', cursive;
}

h1, h2, h3 {
	text-transform: uppercase;
	color: black;
}
h1 {
	font-size: 30px;
	text-align: center;
}
.logo {
	background: #C382DA;
}
.logo img {
	width: 200px;
	
}
nav {
	background: #F8CBF8;
}
.nav-link {
	color: black;
}
.nav-link:hover {
	color: azure;
}
.navbar-brand {
	color:black; 
}
.navbar-toggler-icon {
	background-image: url("../images/15211315791553239378-128.png")
}
.card-title {
	font-weight: bolder;
}
.card-body {
	background-color: #EEE0B0;
}
.footer {
  background: #9AD1CC;
  padding: 10px 0;
}
.footer a {
  color: dimgrey;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid dimgrey;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid dimgrey;
}
.footer a:hover {
  color: white;
}